<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32155907773-6fdik72acpr6opvpi8ijapqqqqi3015q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32155907773-6fdik72acpr6opvpi8ijapqqqqi3015q</string>
	<key>API_KEY</key>
	<string>AIzaSyBNOQx6sbpeR2YhUtVFu4HKJiJDzXocBV0</string>
	<key>GCM_SENDER_ID</key>
	<string>32155907773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexandra.Project2</string>
	<key>PROJECT_ID</key>
	<string>design-b58d5</string>
	<key>STORAGE_BUCKET</key>
	<string>design-b58d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32155907773:ios:0f524052da433e1f</string>
	<key>DATABASE_URL</key>
	<string>https://design-b58d5.firebaseio.com</string>
</dict>
</plist>